
.navbar-brand {
    background-color: #4aaaa5;
    padding: 15px;
    font-family: Georgia, 'Times New Roman', Times, serif !important;
}


.heading{
    color: #4aaaa5;
    margin: 0;
    text-align: left;
    font-family: Georgia, 'Times New Roman', Times, serif !important;
    
}
.row1{
    width: 100%;
}

.container{
    width: 960px;
}
